@import "~/assets/scss/base/const.scss";

.tagmanager {
    &-wrap {
        width: 100%;
        padding: 80px 0;
    }

    &-main-title {
        display: flex;
        justify-content: center;
        width:100%;
        font-size: 30px;
        margin-bottom: 70px;
        line-height: 40px;
    }

    &-content {
        width: 100%;
        font-size: 18px;
        font-weight: 500;

        &-btnline {
            margin-bottom: 50px;

            .lake-name {
                font-size: 20px;
                line-height: 29px;
                color: #828282;
            }

            .group-btn {
                .btn-icon {
                    background: white;
                    border: 1px solid white;
                    border: none;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    box-shadow: none;
                    margin-right: 5px;

                    i {
                        margin-right: 10px;
                    }

                    &:hover {
                        cursor: pointer;
                        background: #f2f2f2;
                    }
                }
            }
        }

        .group-edit-wrap {
            display: flex;
            justify-content: flex-end;

            &-btn {
                width: 80px;
                height: 30px;
                font-size: 18px;
                border-radius: 3px;
                cursor: pointer;
            }

            .edit-btn {
                color: $default-white;
            }

            .cancel-btn {
                background-color: $default-lightgray;
                margin-left: 10px;
            }
        }
    }
}