@import "~/assets/scss/base/const.scss";

.live-item {
    font-size: 16px;
    border: 1px solid #f9f9f9;
    padding: 15px 0;
    background: #fff;
    box-shadow: 1px 2px 6px 2px rgba(142, 142, 142, 0.1);
    border-radius: 15px;
    position: relative;
    margin: 10px 0 0;
    &+.live-item {
        margin: 30px 0 0;
    }
    .live-item__control {
        display: flex;
        justify-content: space-between;
        padding: 0 20px 25px 20px;
    }
    .live-item__control__title {
        display: flex;
        align-items: center;
        color: $default-black;
        >* {
            margin: 0 10px 0 0;
        }
    }
    .popup-showGroup {
        position: absolute;
        z-index: 999;
        &-value {
            bottom: 0;
            left: 0;
            width: 142px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px 10px;
            background: #fff;
        }
        &-etc {
            top: 47px;
            right: -85px;
            width: 130px;
            border-radius: 10px;
            padding: 5px 0;
            box-shadow: 1px 2px 6px 2px rgba(142, 142, 142, 0.1);
            background: #fff;
            ul {
                list-style: none;
                font-size: 15px;
                padding: 0 0 0 20px;

                li {
                    padding: 10px 0;
                    cursor: pointer;

                    &:hover {
                        background: $default-lightgray;
                    }
                }

                .lake-drop-btn {
                    border-top: 1px solid $denial-color;
                    color: $denial-color;
                }
            }
        }
    }
    .active-content-height {
        height: 250px;
    }
    .live-item__content {
        .group-btn {
            width: 140px;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .group-progess-box {
            width: 42%;

            .fa-question-circle {
                color: #aaa;
            }
        }

        .group-progess {
            width: 45%;
            min-width: 125px;
        }

        .item-data {
            height: 40px;
            
            &-value {
                display: flex;
                align-items: flex-end;
                font-size: 20px;
                sub {
                    font-size: 14px;
                    line-height: 20px;
                    vertical-align: unset;
                }
            }
            // position: relative; 딱달라붙는 밑줄
            // &::after {
            //     content: '';
            //     border-bottom: 2px solid #ccc;
            //     position: absolute;
            //     left: 0;
            //     right: 0;
            //     bottom: 5px;
            // }
        }
        .item-plan {
            position: relative;
            text-transform: capitalize;
            .mBtn.mBtn--icon {
                position: relative;
                padding: 0 10px 0 0;
                font-size: 15px;
                font-weight: 600;
                color: $default-black;
            }
            .fal.fa-chevron-right {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 12px;
            }
            ul {
                padding-left: 0;
                position: absolute;
                left: 50%;
                top: 0%;
                background: white;
                z-index: 1;
                li {
                    list-style: none;
                    width: 150px;
                    border: 1px solid #ccc;
                    padding: 10px;
                    cursor: pointer;
                }
            }
            .item-plan__label {
                color: $default-black;
                font-size: 30px;
                line-height: 43px;
                font-weight: 400%;
            }
        }
    }
    .lake-item__info {
        position: absolute;
        right: 15px;
        bottom: 5px;
        .fa-info-circle {
            cursor: pointer;
        }
        .lake-item__info__toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .lake-item__info__id {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            span {
                font-weight: 400;
            }
        }
    }
}

.live-item__control__title__icon {
    border: 2px solid #707070;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.viewlake-loading {
    height: 245px;
}

.viewlake-error-btnline {
    width: 300px;
    .custum-btn {
        width: 100px;
    }
}